.header {
    height: var(--header-height);
    background: linear-gradient(-180deg,#f53d2d,#f63);;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-list,
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: #f86c5b;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-item--has-noti:hover .header__notify {
    display: block;
}

.header__navbar-icon-link {
    color: white;
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    color: white;
    cursor: text;
}

/* Header QR Code */
.header__qr {
    width: 186px;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: white;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-link {
    cursor: default;
}

.header__qr-download-link:first-child {
    margin-left: 11px;
}

.header__qr-download-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__qr::before {
    content: "";
    display: block;
    height: 20px;
    width: 100%;
    position: absolute;
    top: -16px;
    left: 0; 
}

/* Header Notification */
.header__notify {
    position: absolute;
    top: 150%;
    right: 0;
    z-index: 10;
    width: 404px;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: growIn ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-style: solid;
    border-width: 20px 28px;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 2px;
    top: -28px;
}

.header__notify::after {
    content: "";
    display: block;
    width: 90px;
    height: 30px;
    position: absolute;
    top: -20px;
    right: 0;
}

@keyframes growIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__notify-header {
    height: 40px;
    background-color: white;
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    text-transform: capitalize;
    user-select: none;
}

.header__notify-list {
    padding: 0;
    list-style: none;
}

.header__notify-item {

}

.header__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.09);
}

.header__notify-item:hover,
.header__notify-footer:hover .header__notify-footer-btn {
    background-color: rgba(0, 0, 0, 0.05);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-title {
    display: block;
    color: black;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
}

.header__notify-description {
    display: block;
    margin-top: 4px;
    color: #555;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
}

.header__notify-footer {
    text-align: center;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
    display: block;
    font-weight: 400;
    font-size: 1.4rem;
}

/* AUTHEN MODAL */
.auth-form {
    width: 500px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden; /*To hide background color of child class - socials part*/
}

.auth-form__container {
    padding: 12px 32px 24px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__form {

}

.auth-form__group {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__policy {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
    padding: 0 16px;
    line-height: 1.4rem;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__control {
    margin-top: 80px;
    display: flex;
    justify-content: end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__social {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__social .btn:hover {
    filter: brightness(1.05);
}

.auth-form__social--facebook {
    color: white;
    background-color: #3a5a98;
}

.auth-form__social--facebook .auth-form__social-icon {
    color: white;
}

.auth-form__social--google {
    color: #666;
    background-color: white;
}

.auth-form__social--google .auth-form__social-icon {
    color: #ea4335;
}

.auth-form__social-icon {
    font-size: 1.8rem;
}

.auth-form__social-label {
    margin: 0 32px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    padding: 24px 0 0;
    align-items: center;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #888;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    border-left: 1px solid #d5d5d5;
    margin: 0 12px;
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    margin: 4px 0 0;
    font-size: 2rem;
    color: white;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 1.4rem;
    border: none;
    outline: none;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 16px);
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 1px 4px #b6b6b6;
    overflow: hidden;
    display: none;
}

.header__search-history-heading {
    margin: 12px 12px 8px;    
    font-size: 1.4rem;
    font-weight: 400;
    color: #adadad;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
    line-height: 38px;
}

.header__search-history-item:hover {
    background-color: #f9f9f9;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block; /*Làm thẻ a chiếm toàn bộ chiều ngang*/
}

.header__search-select {
    border-left: 1px solid #dadada;
    padding-left: 16px;
    height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.2rem;
    color: #c7c7c7;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    border: none;
    height: 34px;
    width: 60px;
    margin-right: 3px;
    border-radius: 2px;
    background-color: var(--primary-color);
    outline: none;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: white;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 110%;
    z-index: 10;
    list-style: none;
    width: 120px;
    padding: 0;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    border-radius: 2px;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20px;
}

.header__search-option-item {
    background-color: white;
    padding: 16px 12px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #f9f9f9;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1rem;
    color: var(--primary-color);
    margin-left: 10px;
    display: none;
}

.header__search-option-item--isActive i {
    display: inline-block;
}